body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #EEEEEE;
    font-style: normal;
}
.center{
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
h1,h3, h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    margin: 15px;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.color {
    color: #EEEEEE;
}

.black {
    background-image: linear-gradient( 171.8deg,  rgba(5,111,146,1) 13.5%, rgba(6,57,84,1) 78.6% );
}

#btn, #btn2 {background-image: linear-gradient(to right, #F7971E 0%, #FFD200  51%, #F7971E  100%)}
#btn, #btn2{
    margin: 10px;
    padding: 10px 35px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;        
    box-shadow: 0 0 20px #eee;
    border-radius: 40px;
    display: block;
    border: none;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    }

#btn:hover, #btn2:hover {
    background-position: right center; 
    text-decoration: none;
    }
span, label, input {
    font-size: 20px;
}
.block{
    background-image: linear-gradient(to right, #F7971E 0%, #FFD200  51%, #F7971E  100%);
    border-radius: 5px;
}
.hut {
    background-color: #0F3057;
    color: #fff;
}

.link {
    padding: 10px;
    display: flex;
    justify-content: center;

}
.fb {
    margin: 7px;
}

@media all and (max-width: 800px) {
    .container1 {
        flex-direction: column;
    }
}

@media all and (max-width: 500px) {
    .container1 {
        flex-direction: column;
    }
}

@media all and (max-width: 300px) {
    .container1 {
        flex-direction: column;
    }
}